 

<div class="row contentContainer authSubNav">


    <div class="contentLeft  col-xs-12 hidden-sm hidden-md hidden-lg padBottom15">
        <div class="contentPanel  ">
            <notifications-panel></notifications-panel>
            <br />
            <a href="App/HealthCare/Courses/Available">
                <div class="panelTile alignCenter col-xs-6 panelSelected">
                    {{ 'nav_availableCourses' | translate}}
                </div>
            </a>
            <a href="App/HealthCare/Courses/Requested">
                <div class="panelTile alignCenter col-xs-6">
                    {{ 'nav_requestedCourses' | translate}}
                </div>
            </a>
            <a href="App/HealthCare/Courses/Enrolled">
                <div class="panelTile alignCenter col-xs-6">
                    {{ 'nav_enrolledCourses' | translate}}
                </div>
            </a>
            <a href="App/HealthCare/Courses/History">
                <div class="panelTile alignCenter col-xs-6">
                    {{ 'nav_courseHistory' | translate}}
                </div>
            </a>
            <a href="App/HealthCare/HASurvey/History">
                <div class="panelTile alignCenter col-xs-6">
                    {{ 'subnav_HealthAssessment' | translate}}
                </div>
            </a>
        
        </div>
    </div>

    <div class="contentRight col-lg-9 col-md-9 col-sm-12 col-xs-12  col-lg-push-3 col-md-push-3 frmSignIn">

        <!--<div class="contentPanel subNavLink">
              <ul>
                  <li class="subNavSelected"> {{'nav_availableCourses' | translate }} </li>
                  <li><a href="App/HealthCare/Courses/Requested" class="subNavLink">  {{'nav_requestedCourses' | translate }} </a>   </li>
                  <li><a href="App/HealthCare/Courses/Enrolled" class="subNavLink">   {{'nav_enrolledCourses' | translate  }} </a>   </li>
                  <li><a href="App/HealthCare/Courses/History" class="subNavLink">    {{'nav_courseHistory' | translate    }} </a>    </li>
              </ul>
         </div>-->

        <div class="panel">
            <div class="padLeft15 padTop15">
                <h1 class="pageTitle">      {{"page_courses_available_title" | translate}}          </h1>
                <p class="pageIntro">       {{"page_courses_available_intro" | translate}}          </p>
                <p class="pageDisclaimer">  {{"page_courses_available_disclaimer" | translate}}     </p>
            </div>


            <!--<div class="panel" ng-if="agegroup == '18+'">-->


            <div class="col-md-12 pad0">
                <info-box message="{{infoMessage}}"></info-box>
                <danger-box message="{{errorMessage}}"></danger-box>

                <form>

                    <table class="availableCoursesTable col-xs-12" ng-show="errorMessage == '' && data.length > 0">
                        <tbody>
                            <tr ng-repeat="item in data | orderBy:'ProgramName' ">
                                <td class="courseDetails" style="position:relative">
                                    <div class="alignLeft">
                                        <div id="program_{{ item.ProgramId}}"
                                             class="accRowHeader"
                                             programid="{{ item.ProgramId }}"
                                             expanded="false"
                                             ng-class="{'expandedCE': programExpanded }"
                                             ng-click="expandProgram(item.ProgramId,item.ApplicationByPhoneOnly) ">

                                            {{ item.ProgramName }}
                                            <i class="iconCollapseExpand glyphicon"
                                               ng-class="{'glyphicon-collapse-down': !programExpanded, 'glyphicon-collapse-up': programExpanded}"></i>
                                        </div>
                                        <div id="courseContent_{{item.ProgramId}}">
                                            <p class="courseContent">  {{ item.ProgramDescription }}  </p>
                                            <ul class="courseContent">
                                                <li ng-if="item.ProgramLength !=''">
                                                    {{ item.ProgramLength}}
                                                </li>
                                                <!--<li ng-if="item.ProgramNote !=''">
                                                     {{ item.ProgramNote }}
                                                    </li>-->
                                            </ul>
                                        </div>
                                        <div id="availableCourses_{{item.ProgramId}}"
                                             ng-show="!item.ApplicationByPhoneOnly">
                                            <label id="availableCoursesTitle_{{item.ProgramId}}"
                                                   ng-show="!item.ApplicationByPhoneOnly"
                                                   class="courseContent courseLabel solidBackgroundBlue">{{ 'page_healthEd_availableCourses_availableCoursesFor' | translate }}{{ item.ProgramName }}</label>


                                            <ul class="courseContent courseList ulLiHorizontal">
                                                <li ng-repeat="course in item.Courses">
                                                    <input id="course_{{ course.CourseId}}"
                                                           courseid="{{ course.CourseId}}"
                                                           programid="{{item.ProgramId}}"
                                                           type="radio"
                                                           name="course"
                                                           value="{{ course.CourseId }}"
                                                           ng-click="showRequirementsAndOptions(item.ProgramId, course.CourseId); " /> {{ course.CourseName }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div id="requirementsContainer_{{ item.ProgramId  }}"
                                         class="requirementsContainer"
                                         ng-show="!item.ApplicationByPhoneOnly">
                                        <div class="courseContent"></div>
                                        <label class="courseContent courseLabel solidBackgroundBlue"> {{ 'page_healthEd_availableCourses_courseRequirements' | translate }} </label>
                                        <div class="courseContent">
                                            <ul class="ulLiHorizontal">
                                                <li ng-repeat="Criteria in requirements.Criterias">
                                                    <input id="req_{{item.ProgramId}}_{{ Criteria.ItemId }}"
                                                           class="criteriaCheckbox"
                                                           type="checkbox"
                                                           ng-click="clickCheckboxRequirements( Criteria.ItemId)"
                                                           value="{{ Criteria.ItemId }}" /> {{ Criteria.ItemName }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div id="optionsContainer_{{ item.ProgramId }}"
                                         class="optionsContainer"
                                         ng-show="optionsQty >0 && !item.ApplicationByPhoneOnly">

                                        <div class="courseContent pad0">
                                            <label class="courseLabel solidBackgroundBlue">  {{ 'page_healthEd_availableCourses_courseOptions' | translate }}   </label>

                                            <div ng-repeat="opt in options.Options ">
                                                <div class="row" ng-show="opt.OptionType == 'Multiple'">
                                                    <p class="optionName"> {{ opt.OptionName }} </p>
                                                    <p class="optionDescription"> {{ opt.OptionDescription }} </p>
                                                    <ul class="ulLiHorizontal">
                                                        <li ng-repeat="option in opt.OptionItems">
                                                            <input type="checkbox"
                                                                   ng-click="clickCheckboxOptions(opt.OptionId, option.ItemId)"
                                                                   value="{{ option.ItemId }}" /> {{ option.ItemName }}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="row" ng-show="opt.OptionType == 'Single'">
                                                    <p class="optionName">{{ opt.OptionName }} </p>
                                                    <p class="optionDescription">{{ opt.OptionDescription }} </p>
                                                    <ul class="ulLiHorizontal">
                                                        <li ng-repeat="option in opt.OptionItems">
                                                            <input type="radio" id="option_{{ options.CourseId }}_{{opt.OptionId}}"
                                                                   name="option_{{ options.CourseId }}"
                                                                   data-optionid="{{opt.OptionId}}"
                                                                   ng-click="clickRadioOptions(opt.OptionId, option.ItemId)"
                                                                   value="{{ option.ItemId }}" /> {{ option.ItemName }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div id="sectionsContainer_{{ item.ProgramId }}" class="  row ">
                                        <!--<ul class="sessionDetails" ng-show="showDetails">
                                            <li class="courseHeader chDate">Course Date </li>
                                            <li class="courseHeader chTime">Time </li>
                                            <li class="courseHeader chLocation">Location </li>
                                            <li class="courseHeader chFee">Course Fee </li>
                                            <li class="courseHeader chSeats">Seats Available </li>
                                        </ul>-->

                                        <div ng-if="courseSectionQty !=0" class="courseContent">
                                            <table class="col-xs-12  table table-striped  table-sortable">
                                                <tr class="additionalCourseHeader  header sorting">
                                                    <th ng-click="order('StartDate', reverse)">          {{'form_date' | translate  }}  </th>
                                                    <th ng-click="order('Section.StartTime', reverse)">  {{'form_time' | translate  }}  </th>
                                                    <th ng-click="order('Section.Fee', reverse)">        {{'form_fee' | translate   }}  </th>
                                                    <th ng-click="order('SeatsAvailable', reverse)">     {{'form_seats' | translate }}  </th>
                                                    <th style="width:210px;" ng-click="order('Section.Location', reverse)">  {{'page_healthEd_location' | translate}} </th>
                                                    <th> {{'form_header_language' | translate}} </th>
                                                    <th style="width:118px;">  {{'form_reserve' | translate}} </th>
                                                </tr>
                                                <tr ng-if="!courseSectionsAvailable">
                                                    <td colspan="10">
                                                        <div class="noCourseSectionAv"><strong>     {{'page_courses_noAvailableCourseSections'|translate }}     </strong> </div>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="Section in sections.Sections">
                                                    <td ng-if="courseSectionsAvailable && Section.IsCorrespondenceCourse ||  Section.Description =='Waiting List' || Section.Description == 'Lista de Espera'">   </td>
                                                    <td ng-if="courseSectionsAvailable && !Section.IsCorrespondenceCourse && Section.Description != 'Waiting List'  && Section.Description != 'Lista de Espera'" style="position:relative">
                                                        {{ Section.StartDate  | date:'MM/dd/yy' }}
                                                    </td>

                                                    <td ng-if="courseSectionsAvailable && Section.Description != 'Waiting List'  && Section.Description != 'Lista de Espera'">  {{ Section.StartTime }}   </td>
                                                    <td ng-if="Section.Description == 'Waiting List'  || Section.Description == 'Lista de Espera'"> </td>
                                                    <td ng-if="courseSectionsAvailable">  {{ Section.Fee }}         </td>
                                                    <td ng-if="courseSectionsAvailable && Section.IsCorrespondenceCourse"></td>
                                                    <td ng-if="courseSectionsAvailable && !Section.IsCorrespondenceCourse"> {{ Section.SeatsAvailable }} of {{Section.SeatsTotal}} </td>

                                                    <td ng-if="courseSectionsAvailable ">
                                                        <!--class="tdClickable"-->
                                                        <!--<div ng-click="showMapForCourseSection(Section.id , Section.Location )">-->
                                                        <div>
                                                            <strong> {{ Section.Description }}  </strong> <br />
                                                            {{ Section.Location    }}
                                                        </div>
                                                    </td>
                                                    <!--<td ng-if="courseSectionsAvailable && Section.IsCorrespondenceCourse">
                                                        <strong>{{ Section.Description }}</strong> </br>
                                                        {{ 'page_isCorrespondenceCourse' |translate}}
                                                    </td>-->
                                                    <td ng-if="courseSectionsAvailable">{{ Section.Language }}</td>
                                                    <td ng-if="courseSectionsAvailable" class="alignRight pad0 padTop10">
                                                        <input ng-hide="toggle"
                                                               id="cs_{{ sections.ProgramId }}_{{Section.SectionId }}"
                                                               type="button"
                                                               class="availableCourse"
                                                               value="{{ 'form_reserveASeat' | translate }}"
                                                               ng-click="registerForCourseSection(sections.ProgramId,sections.CourseId, Section.SectionId, optionsQty, $event)" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </form>
                <div ng-if="loading" class="padTop50">
                    <simple-ajax-loader show="loading"></simple-ajax-loader>
                </div>


            </div>

            <!--</div>-->
            <div debug-tool data="data" class="ng-cloak"></div>
        </div>
    </div>

    <!--  place this in a directive per HealthRecords Category -->
    <div class="contentLeft leftPanel_large col-lg-3 col-md-3   col-sm-12  col-lg-pull-9 col-md-pull-9 col-sm-pull-0 hidden-xs">
        <div class="contentPanel leftPanel_large">
            <notifications-panel></notifications-panel>
            <br />
            <a href="App/HealthCare/Courses/Available">
                <div class="panelTile alignRight panelSelected">
                    <h2>{{ 'nav_availableCourses' | translate}}</h2>
                    <i class="btn_bak_courses_available" />
                </div>
            </a>
            <a href="App/HealthCare/Courses/Requested">
                <div class="panelTile alignRight">
                    <h2>{{ 'nav_requestedCourses' | translate}}</h2>
                    <i class="btn_bak_courses_scheduled" />
                </div>
            </a>
            <a href="App/HealthCare/Courses/Enrolled">
                <div class="panelTile alignRight">
                    <h2>{{ 'nav_enrolledCourses' | translate}}</h2>
                    <i class="btn_checkMark" />
                </div>
            </a>
            <a href="App/HealthCare/Courses/History">
                <div class="panelTile alignRight">
                    <h2>{{ 'nav_courseHistory' | translate}}</h2>
                    <i class="btn_bak_courses_history"/>
                </div>
            </a>
            <a href="App/HealthCare/HASurvey/History">
                <div class="panelTile alignRight">
                    <h2>{{ 'subnav_HealthAssessment' | translate}}</h2>
                    <i class="btn_bak_health_assessment" />
                </div>
            </a>

            <!--<div class="pageBannerContainer" ng-controller="SideNavCtrl">
                  <div ng-if="currentLanguage == 'en-us'">
                      <div class="leftBanner_TOCL_Yellow textShadow">Power with knowledge. Watch our "<span class="fontWhite">How to Get Care</span>" videos!</div>
                      <div class="leftBanner_Verdana_White">View your health records in this self service portal.</div>
                  </div>
                  <div ng-if="currentLanguage == 'es-mx'">
                      <div class="leftBanner_TOCL_Yellow textShadow">Informarse es la clave. ¡Vea nuestros videos sobre  "<span class="fontWhite">Cómo obtener Atención Médica</span>"!</div>
                      <div class="leftBanner_Verdana_White">Revise sus registros médicos en este portal de autoservicio.</div>
                  </div>
                  <div id="clickYT" class="leftBannerH3 center">
                      <img class="vertBanner" ng-src="{{urlBase}}/Content/Images/panel_MedicalClaims.png" /> <br /><br />
                       <a target="_new" href="https://www.youtube.com/channel/UCrX2w-mgNlvOmyLSBgGCP5A"><img ng-src="{{urlBase}}/Content/Images/panel_youTube.png" /></a>
                  </div>
              </div>
            </div>-->

        </div>
    </div>

</div>