

<div class="row survey-question-bottom-border">
    <div class="survey-question-span col-md-8 col-sm-8 col-xs-12" ng-bind-html="question.QuestionText"></div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <ng-form name="radioform">
            <div class="btn-group survey-ui-button-background ">
                <div style="display:inline-block" class=" survey-input-render row" ng-repeat="answer in question.Answers track by $index">
                    <label class="btn btn-primary survey-ui-button" ng-disabled="question.Answers.isDisabled" ng-class="{active:answer.isChecked}">
                        <input type="radio"
                               style="display: none"
                               ng-click="RecordRadioClickDisableChildren(this, question)"
                               ng-model="$parent.radioButton"
                               ng-checked="answer.isChecked"
                               value="{{answer.ItemDisplayValue}}"
                               ng-disabled="question.Answers.isDisabled"
                               ng-required="!question.Answers.isChecked" />
                        <span class="">{{answer.ItemDisplayName}}</span>
                    </label>

                </div>
            </div>
            <span ng-if="language == 'EN'" ng-show="radioform.$invalid && nextClicked" class="help-block survey-required-value">select an option</span>
            <span ng-if="language=='ES'" ng-show="radioform.$invalid && nextClicked" class="help-block survey-required-value">seleccione una opcion</span>
        </ng-form>
    </div>
</div>

