
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Authorizations</h2>

<ul>
    <li><a href="@Url.RouteUrl("App", new { angularroutes = "Authorizations/All" })">All</a></li>
    <li><a href="@Url.RouteUrl("App", new { angularroutes = "Authorizations/Medical" })">Medical</a></li>
    <li><a href="@Url.RouteUrl("App", new { angularroutes = "Authorizations/Vision" })">Vision</a></li>
    <li><a href="@Url.RouteUrl("App", new { angularroutes = "Authorizations/Rx" })">Pharmacy</a></li>
</ul>