@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div class="row contentContainer frmSignIn">


    <!--  place this in a directive per HealthRecords Category -->
    <div class="contentLeft  col-xs-12 hidden-sm hidden-md hidden-lg padBottom15">
        <div class="contentPanel">
            <notifications-panel></notifications-panel>
            <br />

            <a href="App/HealthRecords/RxPrescriptions">
                <div class="panelTile alignCenter col-xs-6  ">
                    {{ 'form_rxPrescriptions' | translate}}
                </div>
            </a>
            <a href="App/HealthRecords/MedicalClaims">
                <div class="panelTile alignCenter col-xs-6">
                    {{ 'nav_medicalClaims' | translate}}
                </div>
            </a>
            <a href="App/HealthRecords/ImmunizationRecords">
                <div class="panelTile alignCenter col-xs-6 ">
                    {{ 'nav_immunizationRecords' | translate}}
                </div>
            </a>
            <a href="App/HealthRecords/LabWork">
                <div class="panelTile alignCenter col-xs-6 ">
                    {{ 'nav_labResults' | translate}}
                </div>
            </a>
            <a href="App/HealthRecords/Authorizations/All">
                <div class="panelTile alignCenter col-xs-6 col-xs-offset-3 panelSelected">
                    {{ 'nav_authorizations' | translate}}
                </div>
            </a>
        </div>
    </div>



    <div class="contentRight col-lg-9 col-md-9 col-sm-12 col-xs-12  col-lg-push-3 col-md-push-3">
        @*<div class="contentPanel  subNavLink  ">
                <ul>
                    <li><a href="App/HealthRecords/RxPrescriptions" class="subNavLink">{{'nav_pharmacyPrescriptions' | translate }}</a> </li>
                    <li><a href="App/HealthRecords/MedicalClaims" class="subNavLink">{{'nav_medicalClaims' | translate }}</a> </li>
                    <li><a href="App/HealthRecords/ImmunizationRecords" class="subNavLink">{{'nav_immunizationRecords' | translate }}</a> </li>
                    <li><a href="App/HealthRecords/LabWork" class="subNavLink">{{'nav_labResults' | translate }}</a> </li>
                    <li class="subNavSelected">{{'nav_authorizations' | translate }}</li>
                </ul>
            </div>*@
        <div class="panel padLeft15 padRight15">
            @*<h1 class="pageTitle">     {{"page_healthrec_visionAuthorizations_title" | translate}}       </h1>
                <p class="pageIntro">      {{"page_healthrec_visionAuthorizations_intro" | translate}}       </p>
                <p class="pageDisclaimer"> {{"page_healthrec_visionAuthorizations_disclaimer" | translate}}  </p>*@
            <h1 class="pageTitle padTop15">     {{"page_healthrec_allAuthorizations_title" | translate}}      </h1>
            <div style="position:relative" class="infoIcon">
                <p class="pageIntro">
                    <div id="allAuthsIPADef" class="infoBox info" style="top:-62px;left:27px;">
                        <info-box class="infoIcon" message=" {{ 'icohelp_IPANetworkProvider' | translate }} ">
                        </info-box>
                    </div>

                    {{"page_healthrec_allAuthorizations_intro" | translate}}

                    <br /><br />

                    {{'form_yourCurrentIPA'|translate}}
                    <strong style="color:black"> {{IPAName }} </strong>

                    <i id="iconIPADef" class="glyphicon glyphicon-question-sign @*iconOnLeft*@" onclick="toggleBubble('allAuthsIPADef');">
                    </i>
                </p>
            </div>

            <p class="pageDisclaimer"> {{"page_healthrec_allAuthorizations_disclaimer" | translate}}   </p>


            @*<info-box ng-if="agegroup == 'Age 13-17' || agegroup =='Age 0-12' " class="center" message="{{'page_healthrec_RxPrescriptions_0thru17' | translate}}"></info-box>*@





            <div class="row">
                <div>

                    <authorization-subnav></authorization-subnav>

                    <div simple-ajax-loader show="loading"></div>
                    <div class="row">
                        <div id="authCont" class="col-md-12 padLeft0 padRight0">
                            <info-box message="{{infoMessage}}"></info-box>
                            <danger-box message="{{errorMessage}}"></danger-box>
                            <table class="table table-striped" ng-show="errorMessage == '' && data.length > 0">
                                <thead class="header">
                                    <tr>
                                        <th> {{"form_date" | translate}} </th>
                                        <th> {{"form_authorization" | translate}} </th>
                                        <th> {{"form_serviceType" | translate}} </th>
                                        <th> {{"form_status" | translate}}</th>
                                        @*<th> {{"form_requestingProvider" | translate}} </th>
                        <th> {{"form_servicingProvider" | translate}} </th>*@

                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data |orderBy:'-receivedDate'">
                                        <td> {{item.receivedDate | date:'MM/dd/yy'}}</td>
                                        <td> {{item.eventNumber}} </td>
                                        <td> {{TypeOfService(item)}} </td>
                                        <td> {{DetermineStatus(item)}}</td>
                                        @*<td> requesting prov name  </td>
            <td> servicing prov name </td>*@
                                        @*<td> <input type="button" value="view" /> </td>*@



                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--  create a  directive in Authorization Category -->
    <div class="contentLeft col-lg-3 col-md-3   col-sm-12 col-lg-pull-9 col-md-pull-9 col-sm-pull-0  hidden-xs">
        @*<div class="contentPanel leftPanel_large leftPanel">
            <div class="pageBannerContainer" ng-controller="SideNavCtrl">
                <div class="leftBanner_TOCL_Yellow"> {{"form_authorizationType" | translate}}</div>
                <br /><br />
                <div class="subNavLink">*@

        @*</div>
                </div>

                <br /><br />
                <img id="homeBannerLeft" src="@Url.Content("~/Content/Images/sm_Resources.png")" />

            </div>*@


        <div class="contentPanel leftPanel_large">

            <notifications-panel></notifications-panel>
            <br />

            <a href="App/HealthRecords/RxPrescriptions">
                <div class="panelTile alignRight">
                    <h2>{{ 'form_rxPrescriptions' | translate}}</h2>
                    <i class="btn_bak_rx" />
                </div>
            </a>

            <a href="App/HealthRecords/MedicalClaims">
                <div class="panelTile alignRight">
                    <h2>{{ 'nav_medicalClaims' | translate}}</h2>
                    <i class="btn_bak_claims" />
                </div>
            </a>

            <a href="App/HealthRecords/ImmunizationRecords">
                <div class="panelTile alignRight">
                    <h2>{{ 'nav_immunizationRecords' | translate}}</h2>
                    <i class="btn_bak_form" />
                </div>
            </a>
            <a href="App/HealthRecords/LabWork">
                <div class="panelTile alignRight">
                    <h2>{{ 'nav_labResults' | translate}}</h2>
                    <i class="btn_bak_lab" />
                </div>
            </a>

            <a href="App/HealthRecords/Authorizations/All">
                <div class="panelTile alignRight panelSelected">
                    <h2>{{ 'nav_authorizations' | translate}}</h2>
                    <i class="btn_bak_authorize" />
                </div>
            </a>

        </div>
    </div>

</div>




<div class="row">
    <div debug-tool class="ng-cloak">
        <debug-tool-data-node name="Data" data="data"></debug-tool-data-node>
    </div>
</div>
