<div class="posRelative">
    <!--<div class="rosters_icons">
        <ul class="ulLiHorizontal">
            <li><img src="Content/Images/ico_print.jpg" /></li>
            <li><img src="Content/Images/ico_excel.jpg" /></li>

        </ul>
    </div>-->
    <h2 class="alignCenter">Please select a region for Direct Specialty.</h2>
    <div class="subRosterLinks" >
        <ul>
            <li  ng-click="changeStateSubNavLinks('DSCTH', 'rostDSCTH',1)"><a>Corona/ Temecula/ Hemet </a></li>
            <li  ng-click="changeStateSubNavLinks('DSHD',  'rostDSHD',1)"><a>High Desert</a></li>
            <li  ng-click="changeStateSubNavLinks('DSLD',  'rostDSLD',1)"><a>Low Desert</a> </li>
            <li  ng-click="changeStateSubNavLinks('DSR',   'rostDSR',1)"><a>Riverside</a></li>
            <li  ng-click="changeStateSubNavLinks('DSSBP', 'rostDSSBP',1)"><a>San Bernardino Proper</a></li>
            <li  ng-click="changeStateSubNavLinks('DSWSB', 'rostDSWSB',1)"><a>West San Bernardino</a></li>
        </ul>
    </div>
</div>