<div class="posRelative panel">


    <div ui-view="rosterPreventiveCare">
    </div>

    <h1 class="pageTitle">Preventive Care</h1> 
    <p class="pageIntro ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat    </p>
  
    <h2 class="alignCenter">Please select a specific roster for Preventive Care.</h2>



    <!--<div class="subRosterLinks">
        <ul>
            <li ui-sref="rosters.PC.CI"><a>Childhood Immunizations</a></li>
            <li ui-sref="rosters.PC.WC015"><a>Well Care (0-15months)</a></li>
            <li ui-sref="rosters.PC.WC36"><a>Well Care (3-6 years)</a> </li>
            <li ui-sref="rosters.PC.WCA"><a>Well Care (Adolescent)</a> </li>
            <li ui-sref="rosters.PC.BC"><a>Breast Cancer Screen</a> </li>
            <li ui-sref="rosters.PC.CC"><a>Cervical Cancer Screen</a> </li>
            <li ui-sref="rosters.PC.DC"><a>Diabetes Care</a></li>
            <li ui-sref="rosters.PC.ADHD"><a>ADHD (Followup Care)</a></li>
        </ul>
    </div>-->
</div>

  