 <div class="posRelative panel">
    <div simple-ajax-loader show="loading"></div>
     <!--<div class="row contentPanel pad20">-->

     <div ui-view="rosterHealthManagement">
     </div>

    <!--</div>-->
     <h2 class="alignCenter">Please select a specific roster for Health Management.</h2>

     <p class="pageIntro ">
         IEHP's Health Management Rosters provide care plans and identify Members with diabetes and/or asthma for care coordination activities.
     </p>

         <!--<div class="subRosterLinks">
            <ul>
                <li ng-click="changeStateSubNavLinks('HMAR', 'rostHMAR',1)"><a>Asthma Roster</a></li>
                <li ng-click="changeStateSubNavLinks('HMCMR', 'rostHMCMR',1)"><a>Care Management Reports</a></li>
                <li ng-click="changeStateSubNavLinks('HMDR', 'rostHMDR',1)"><a>Diabetes Roster</a></li>
            </ul>
        </div>-->
</div>