<div id="subNavMyDoctor" class="submenuContainer" ng-class="{open : Nav.menuOpenStatusMyDoctor}">
    <div class="container">
        <ul class="clearfix"   >
            <li class=""> 
                <ul> 
                    <li>  
                        <a href="App/Eligibility/MyDoctor">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_mydoc.png")')">
                               <span>{{"subnav_MyDoctor" | translate}}</span>  
                            </div>
                        </a>
                    </li>
                    <li> 
                        <a href="App/Eligibility/ChangeDoctor">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_changemydoc.png")')">
                                <span>{{"subnav_ChangeDoctor" | translate}}</span>  
                           </div>
                        </a>
                    </li> 
                </ul>
            </li> 
        </ul> 
    </div>
</div>