<div id="subNavEligibility"  class="submenuContainer" ng-class="{open : Nav.menuOpenStatusEligibility}">
    <div class="container" style="">
        <ul class="clearfix" >
            <li class=""> 
                <ul>
                    <li>
                        <a href="App/Eligibility/Current">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_curelig.png")')">
                                <span>{{"subnav_CurrentEligibility" | translate}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="App/Eligibility/Historical">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_histelig.png")')">
                                <span>{{"subnav_EligibilityHistory" | translate}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>