<div id="subNavResources"  class="submenuContainer" ng-class="{open : Nav.menuOpenStatusResources}">
    <div class="container">
        <ul class="clearfix" >
            <li class="">
                <ul>
                    <li>
                        <a href="App/Eligibility/Resources">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_faq.png")')">
                                <span>{{"subnav_LinksDocs" | translate}}</span>
                            </div>
                        </a>
                    </li>
                    <!--   <li>
                            <a href="">
                                <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_printer.png")')">
                                    <span>Resouce B</span>
                               </div>
                            </a>
                        </li>

                        -->
                </ul>
            </li>
        </ul>
    </div>
</div>