@{
    Layout = null;

}
<div class="row contentContainer PPView Rosters">

    <div class="registrationForm frmSignIn col-sm-12 col-xs-12 padLeft0 padRight0   ">

        <!-- MOBILE -->
        <div class="   col-xs-12 hidden-sm hidden-md hidden-lg padBottom15 non-printable">
            <div class="contentPanel" ng-controller="SideNavCtrl">
                <notifications-panel></notifications-panel>
                <br/>
            </div>
        </div>

        <div class="contentRight col-lg-10 col-md-9 col-sm-12 col-xs-12  col-lg-push-2 col-md-push-3  ">

            <div class="contentPanel1">
                <div class="form panel pad10  ">
                    <div class="padLeft15 padTop15">
                        <h1 class="pageTitle"> Pharmacy </h1>
                        <p class="pageIntro">
                           
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                            suscipit lobortis nisl ut aliquip ex ea commodo consequat 1-800-888-1111.

                        </p>
                    </div>


                    <div class="row">
                        @*<div class="col-md-12">
                                <message-boxes info-message="{{infoMessage}}" success-message="{{successMessage}}" error-message="{{errorMessage}}"></message-boxes>
                            </div>*@

                        <div ng-show="errorMessage == ''">
                            @*<div class="col-md-12">
                                    <h2 class="underlined">{{"page_myinfo_updateContactInfo_myCurrentInfo" | translate}}</h2>
                                </div>*@

                        </div>



                        <div class="row contentPanel pad20">
           

                            <div ui-view="innerView@pharmacy">

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div debug-tool class="ng-cloak">
                <debug-tool-data-node name="Data" data="data"></debug-tool-data-node>
            </div>
        </div>
        <!-- DESKTOP LEFTPANEL -->
        <div class="contentLeft   col-md-3 col-lg-2   col-sm-2 col-xs-12 col-lg-pull-10 col-md-pull-9  col-xs-pull-0">
            @*<div class="hidden-xs hidden-sm">
    <notifications-panel></notifications-panel>

            </div>*@


            <div class="contentPanel leftPanel_sm panelBanner leftNav">
			
                <div class="pageBannerContainer" ng-controller="SideNavCtrl">
                    <div class="leftBanner_Verdana_White">
						<pp-breadcrumbs title="Pharmacy"></pp-breadcrumbs>
                        <!-- <left-navigation></left-navigation> -->
                        <ul class="non-printable">
                            <li ng-show="item['NAV.RX.RXPA']" >
                                <div id="pharmUPA"
                                     ui-sref-active="navItemSelected"
                                     ui-sref="pharmacy.UPA"
                                     class="panelTile alignRight">
                                    <h2>Rx PA/CD Auth Request</h2>
                                </div>
                            </li>
                            <li ui-sref-active="navItemSelected" ng-show="item['NAV.RX.FORM']">
                                <div id="pharmFRMLY'" class="panelTile alignRight" ui-sref="pharmacy.FRMLY">
                                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right':!('rosters.DS' | includedByState), 'glyphicon-chevron-down': ('pharmacy.FRMLY' | includedByState) }"></span>
                                    <h2>Formulary</h2>
                                </div>
                                <div class="subNavContainer">
                                    <ul id="subnav_pharmFRMLY" class="ulTabs subNavRosters" ng-show="'pharmacy.FRMLY' | includedByState">
                                        <li id="pharmMDCAL" ui-sref-active="subnavItemSelected" ui-sref="pharmacy.FRMLY.MDCAL">Medi-Cal Formulary & Healthy Kids Formulary</li>
                                        <li id="pharmCMC" ui-sref-active="subnavItemSelected" ui-sref="pharmacy.FRMLY.CMC"> CMC </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>





</div>

 



 