


<div class="panel">
    <h1 class="pageTitle">Pay For Performance (P4P)</h1>


    <p class="pageIntro ">
        Welcome to Inland Empire Health Plan’s (IEHP) Pay For Performance Program, also best known as P4P. P4P offers
        incentives to all qualified IEHP Practitioners for providing preventive, diagnostic and treatment services
        to IEHP Members. Every year, P4P is reviewed and revised to offer reimbursements that can potentially earn
        top $$$$ to Practitioners while providing the best quality care to our Members.
    </p>

    <p>
        To learn more about P4P, refer to the “P4P Overview” or contact a Provider Services Representative at
            (909) 890-2054.

    </p>
  

</div>

 