<form id="submitNewPasswordForm" role="form" name="changePasswordForm" class="form-horizontal form" novalidate ng-submit="SubmitNewPassword()">
        
    <div class="row formHeader">
        <div class="col-md-12">
            <h4> 
                {{ 'form_changeYourPassword' | translate }}
            </h4>
        </div>
    </div>
    
    <div style="height:25px;"></div>
        
    <message-boxes info-message="{{infoMessage}}" success-message="{{successMessage}}" error-message="{{errorMessage}}"></message-boxes>

    <div class="clearfix">
        <label class="col-sm-11 col-sm-offset-2 col-xs-12  col-xs-offset-1 control-label padLeft0"> {{"form_newPassword" | translate}} </label>
    <i id="passwordStrengthIcon" class=" glyphicon glyphicon-ok  glyphIconAfter"></i>
        <input id="txtPassword1"
               ng-keyup="checkPasswordStrength($event)"
               ng-blur="checkPasswordStrength($event)"
               class="newFormControl col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-8"
               ng-model="newPassword"
               name="newPassword"
               type="password"
               placeholder="{{'form_password' | translate}}"
               ng-minlength="6"
               maxlength="20"
               ng-pattern="/(?=.*[0-9])(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[a-z]).{6}/"
               ng-required="true" />
        <!--<label id="passwordStrengthString" class="col-lg-offset-5 hideTemporarily"></label>-->
        <!--<div id="passwordStrengthBar" class="col-xs-11 pad0 passwordStrength_0">
            <label id="passwordStrengthString" class="col-xs-11  col-lg-offset-5  pad0 padTop10 hideTemporarily margin0 alignCenter"></label>
        </div>-->
        <div id="passwordStrengthBar" class=" pad0 passwordStrength_0 col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-8">
            <label id="passwordStrengthString" class="col-xs-11  col-lg-offset-5  pad0 padTop10 hideTemporarily margin0 alignCenter"></label>
        </div>
    </div>

    <div class="clearfix">
        <label class="col-sm-11 col-sm-offset-2 col-xs-12  col-xs-offset-1 control-label padLeft0"> {{"form_confirm" | translate}}  </label>
        <i id="passwordMatchIcon" class=" glyphicon glyphicon-ok  glyphIconAfter" ng-class="{colorGreen :changePasswordForm.newPassword.$viewValue == changePasswordForm.newPasswordConfirmation.$viewValue && changePasswordForm.newPassword.$viewValue.length >0 }"></i> 
        <input id="matchPassword"
               class="newFormControl col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-8"
               ng-model="newPasswordConfirmation"
               ng-keyup="checkIfPasswordsMatch()"
               name="newPasswordConfirmation"
               type="password"
               maxlength="20"
               placeholder="{{'form_reEnter' | translate}}"
               input-match="newPassword"
               ng-required="true" />
        <label id="passwordMatchString" class="col-lg-offset-5 hideTemporarily"></label>
    </div>
    
    <div style="height:47px;"></div>

    <div class="signInCont col-xs-12 padRight0 alignRight">
        <input type="submit"
               value="{{'form_change' | translate}}"
               ng-disabled="formSubmitButtonDisabled"
               class="newButton btn btn-primary" />
    </div>

    <img id="btnChangePassClose" ng-click="closeChangePass()" src="Content/Images/btn_close.png">
</form>

