<div class=""> 
	<div class="form panel">
		<h1 class="pageTitle">Change Password </h1>
	</div>
	<section>
		<!-- <h1>-->
		<!-- Change Password-->
		<!-- </h1>-->

		<form class="pp-form text-left" name="changePasswordForm" ng-submit="submit(changePasswordForm)" novalidate>
			<div class="form-section">
				<ol class="list-group">
					<li class="clearfix list-group-item with-background">
						<div class="col-md-6 col-xs-12 text-left">
							<label class="bold-lbl req">Current Password:</label>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input name="oldPassword" ng-class="{'ng-invalid':error}" ng-model="form.oldPassword" required tabindex="1" type="password">
							<div class="invalid-text"></div>
							<div class="returned-invalid" ng-if="error">
								Current password is incorrect. Please re-enter and try again.
							</div>
						</div>
					</li>
					<li class="clearfix list-group-item with-background">
						<div class="col-md-6 col-xs-12 text-left">
							<label class="bold-lbl req">New Password:</label>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input different-than="form.oldPassword" name="newPassword" ng-model="form.newPassword" ng-pattern="passwordRegex" required tabindex="2" type="password">
							<div class="invalid-text">
								Password must be:
								<ul>
									<li>
										At least 8 characters
									</li>
									<li>At least 1 Uppercase character</li>
									<li>At least 1 Lowercase character</li>
									<li>At least 1 Special character</li>
									<li>At least 1 Number</li><li>No Whitespace character</li>
									<li>Cannot be the same as your current password</li>
								</ul>
							</div>

						</div>
					</li>
					<li class="clearfix list-group-item with-background">
						<div class="col-md-6 col-xs-12 text-left">
							<label class="bold-lbl req">Confirm New Password:</label>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input name="confirmNewPassword" ng-model="form.chkNewPassword" required same-as="form.newPassword" tabindex="3" type="password">
							<div class="invalid-text">Password does not match</div>
						</div>
					</li>
				</ol>
			</div>

			<div class="center-block col-md-3 float-none form-group">
				<button class="btn btn-block btn-lg btn-primary" tabindex="4" type="submit">Submit</button>
			</div>
		</form>

		<uib-alert close="alert=''" ng-hide="!alert" type="danger">
			{{alert}}
		</uib-alert>

	</section>
</div>